<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body >

<header>


</header>

<main>

<table class="table table-bordered" id="datable">
  <thead>
    <tr>
<% for(let i=0; i<27; i++){ %>
  <th scope="col">
    &#<%- 64+i%>;
  </th>
<%}%>
    </tr>
  </thead>
  <tbody>
    <% const d = data%>
    <% for(let i=1; i<500; i++){ %>
      <% if(i<=d.length){ %>
        <% let row = d[i-1]%>
    <tr>
      <td>
        <%- i%>
      </td>
      <% for(let j=1; j<27; j++){ %>
        <% if(Object.keys(row).length>=j) {%>
        <td scope="col" contenteditable="true">
          <%- row[Object.keys(row)[j-1]] %>
        </td>
        <%}else{%> 
        <td scope="col" contenteditable="true">
        </td>
        <%}%>
      <%}%>
    </tr>
      <% } else {%>
        <tr>
          <td>
            <%- i%>
          </td>
          <% for(let j=1; j<27; j++){ %>
          <td scope="col" contenteditable="true">
          </td>
          <%}%>
        </tr>
        <%}%>
    <%}%>
  </tbody>
</table>
</main>

<footer>
</footer>
<script>
  
</script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="http://localhost:3006/js/index.js"></script>
<script>

  

</script>
</body>
</html>